.cell {
    width: 60px;
    height: 60px; 
}

.layout{
    display: flex;
    flex-direction: row;
}

.list{
    display: flex;
    flex-direction:column;
    margin-left: 30px;
    margin-top: 20px;
}